@charset "UTF-8";
/*--------------------------------------------------------------　*/
/* font
--------------------------------------------------------------　*/
/* rounded mplus 2c */
/* @font-face {
    font-family: "Rounded-Mplus-2c";
    src: url("https://cdn.leafscape.be/rounded-Mplus/rounded-mplus-2c-regular_web.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Rounded-Mplus-2c";
    src: url("https://cdn.leafscape.be/rounded-Mplus/rounded-mplus-2c-medium_web.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rounded-Mplus-2c";
    src: url("https://cdn.leafscape.be/rounded-Mplus/rounded-mplus-2c-bold_web.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

.font_viga {
    font-family: 'Viga', sans-serif;
} */

/* tufura */
/* .font_futua {
    font-family: futura, 'futura-pt', sans-serif;
} */

/*============================
	html5 base style
============================*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
address,
code,
em,
img,
a,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
figcaption,
figure,
footer,
header,
menu,
nav,
main,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
main,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.disc {
    margin-left: 1em;
}

ul.disc li {
    list-style: disc;
}

a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
    outline: 0;
    opacity: 0.6;
}

a img {
    border: 0;
}

a.link {
    text-decoration: underline;
    color: #00AADD;
}

img,
svg {
    width: 100%;
    vertical-align: bottom;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select {
    vertical-align: middle;
}

input,
select,
button {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

input:focus,
select:focus,
button:focus {
    outline: 0;
}

* {
    box-sizing: border-box;
}

header,
footer {
    width: 100%;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

p.text {
    margin-bottom: 1.5em;
}

iframe {
    max-width: 100%;
}

/*============================
    module style
============================*/
html {
    overflow: auto;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #fff;
    color: #2D2D2D;
    font-family: "Rounded-Mplus-2c",
        "游ゴシック体",
        YuGothic,
        "游ゴシック Medium",
        "Yu Gothic Medium",
        "游ゴシック",
        "Yu Gothic",
        "メイリオ",
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        sans-serif;
    margin: auto;
    position: relative;
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: 0;
}

/*----------------------------
  text
-----------------------------*/
.bold {
    font-weight: bold;
}

.al-cen {
    text-align: center;
}

.al-right {
    text-align: right;
}

.al-left {
    text-align: left;
}

.lh1 {
    line-height: 1rem;
}

.lh14 {
    line-height: 1.4rem;
}

.lh17 {
    line-height: 1.7rem;
}

.lh175 {
    line-height: 1.75rem;
}

.lh2 {
    line-height: 2rem;
}

.lh22 {
    line-height: 2.2rem;
}

/*----------------------------
  border
-----------------------------*/
.bd-top {
    border-top: solid 0.2rem #dae6e4;
}

.bd-btm {
    border-bottom: solid 0.2rem #dae6e4;
}

.bd-line {
    border-bottom: #000 0.1rem solid;
}

.bd-line:hover {
    border-color: #a0a0a0;
}

/*----------------------------
  space
-----------------------------*/
.m-auto {
    margin: auto;
}

.m-0auto {
    margin: 0 auto;
}

.m0 {
    margin: 0;
}

.mt15 {
    margin-top: 1.5rem;
}

.mt20 {
    margin-top: 2.0rem;
}

.mt30 {
    margin-top: 3.0rem;
}

.mt40 {
    margin-top: 4.0rem;
}

.mt50 {
    margin-top: 5.0rem;
}

.mt60 {
    margin-top: 6.0rem;
}

.mt70 {
    margin-top: 7.0rem;
}

.mt80 {
    margin-top: 8.0rem;
}

.mt90 {
    margin-top: 9.0rem;
}

.mt100 {
    margin-top: 8.0rem;
}

.mr10 {
    margin-right: 1.0rem;
}

.mr20 {
    margin-right: 2.0rem;
}

.mr70 {
    margin-right: 7.0rem;
}

.mr100 {
    margin-right: 10.0rem;
}

.mb5 {
    margin-bottom: 0.5rem;
}

.mb10 {
    margin-bottom: 1.0rem;
}

.mb25 {
    margin-bottom: 2.5rem;
}

.mb20 {
    margin-bottom: 2.0rem;
}

.mb30 {
    margin-bottom: 3.0rem;
}

.mb35 {
    margin-bottom: 3.5rem;
}

.mb45 {
    margin-bottom: 4.5rem;
}

.mb60 {
    margin-bottom: 6.0rem;
}

.mb80 {
    margin-bottom: 8.0rem;
}

.mb100 {
    margin-bottom: 10.0rem;
}

.ml20 {
    margin-left: 2.0rem;
}

.ml50 {
    margin-left: 5.0rem;
}


.pt10 {
    padding-top: 1.0rem;
}

.pr10 {
    padding-right: 1.0rem;
}

.pr25 {
    padding-right: 2.5rem
}

.pb50 {
    padding-bottom: 5.0rem;
}

.pb60 {
    padding-bottom: 6.0rem;
}

.pb70 {
    padding-bottom: 7.0rem;
}

.pl10 {
    padding-left: 1.0rem;
}

.pl20 {
    padding-left: 2.0rem;
}


/*----------------------------
  layout
-----------------------------*/
.inner {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
}

.flex-wrp {
    flex-wrap: wrap;
    width: 100%;
}

.flex-nml {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.flex-btw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.row-rvr {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.itm-cen {
    -webkit-align-items: center;
    align-items: center;
}

.itm-end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

/* コンテンツ */
.content_wrp,
.content_wrp_s {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/*----------------------------
  layout02
-----------------------------*/
.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w45 {
    width: 45%;
}

.w70 {
    width: 70%;
}

.wfull {
    width: 100%;
}

.db {
    display: block;
}

.block-cen {
    display: block;
    margin: auto;
}

.jc-btw {
    justify-content: space-between;
}

.jc-ard {
    justify-content: space-around;
}

.jc-cen {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.al-itm {
    align-items: center;
}

.fd-rvr {
    flex-direction: row-reverse;
}

.icon:before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
}

.of-hidden {
    overflow: hidden;
}

.wp-nowrp {
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .inner {
        max-width: 345px;
        margin: 0 auto;
    }
}

@media (min-width: 751px) {
    a[href*="tel:"] {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: #000;
    }
}

/*----------------------------
  position
-----------------------------*/
.ps-r {
    position: relative;
}

.ps-a {
    position: absolute;
}

/*----------------------------
  list
-----------------------------*/
.list-style {
    list-style: disc;
}

.scale {
    transition: 0.5s;
}

.scale:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.spbr {
    display: none;
}

/*----------------------------
    btn
-----------------------------*/
.btn_n {
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 50vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    text-align: center;
    background: #fff;
    padding: 10px 34px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn_n:hover {
    opacity: 1;
    background-color: #ea6a00;
    color: #fff;
}

.btn_n.btn_border_or {
    border: 3px solid #ea6a00;
}

.btn_n.btn_border_or:hover {
    border: 3px solid #fff;
}

.btn_n.arrow_r:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 8px;
    height: 16px;
    background-image: url(../images/btn_arw.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.btn_n.arrow_r:hover:after {
    background-image: url(../images/btn_arw_hover.png);
}

/* 汎用クラス ---------------------------------*/
/* PCサイズのときは電話のリンクを無効に */

.clear:after {
    display: block;
    content: "";
    clear: both;
    overflow: hidden;
}

.break_word {
    word-wrap: break-word;
}

/*----------------------------
    SP-PC切り替え
-----------------------------*/
.viewPC {
    display: none;
}

.d_Inline {
    display: inline;
}

.text_cen {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_bold {
    font-weight: 600;
}

/*----------------------------
    color
-----------------------------*/
.cl_key {
    color: #333;
}

.cl_white {
    color: #fff;
}

.cl_emphasis {
    color: #FA9F2A;
}

.cl_green {
    color: #1F9F3E;
}

/*  背景 */
.bg_gray {
    background-color: #a0a0a0;
}

.bg-white {
    background-color: #fff;
}

.bg_ow {
    background-color: #fbf8f0;
}

/*  hover */
.h-gray:hover {
    color: #a0a0a0;
}

/*----------------------------
  responsive
-----------------------------*/
@media screen and (min-width:769px) {
    .sp {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .pc {
        display: none;
    }

}

@media screen and (max-width:599px) {
    .flex {
        display: block;
    }

    p {
        font-size: 1.4rem;
    }
}



/*----------------------------------------------------　*/
/* header
------------------------------------------------------　*/
/*----------------------------------------------------　*/
/* gnav
------------------------------------------------------　*/
/*----------------------------------------------------　*/
/* footer
------------------------------------------------------　*/
