@charset "UTF-8";
@media screen and (min-width: 768px) {
  .inner {
    width: 965px;
  }
  .inner {
    width: 80%;
  }
}

#top {
  margin: 0 auto;
  text-align: center;
}

.contents__mv img {
  object-fit: cover;
  height: 335px;
}

.contents__mv--cp img {
  top: 5%;
  left: -10%;
  width: 100%;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .contents__mv img {
    max-width: 1280px;
    height: 590px;
    margin: 6.0rem auto;
  }
  .contents__mv--cp img {
    top: 450px;
    left: 0%;
    width: 60%;
  }
}

.section__nav--navigation {
  margin: 2.0rem 1.8rem 6.0rem;
}

.navigation__left--logo img {
  width: 110px;
}

.navigation__right--list ul > li {
  text-transform: capitalize;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid transparent;
  transition-duration: 250ms;
}

.navigation__right--list ul > li:hover {
  border-color: #2D2D2D;
}

.navigation__right--list ul > li + li {
  margin-left: 2.0rem;
}

@media screen and (min-width: 768px) {
  .section__nav--navigation {
    margin-left: 7.0rem;
    width: 30%;
  }
  .navigation__left--logo img {
    width: 120px;
  }
}

.fv {
  position: relative;
}

.fv__copy {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 99;
  top: 60%;
  left: 50%;
}

footer {
  padding: 0 1.8rem 2.0rem;
}

.footer__logo--left a > img {
  width: 110px;
}

@media screen and (min-width: 768px) {
  footer {
    margin: 0 auto;
    max-width: 1280px;
  }
}

#sub_contents .bread_crumb {
  text-align: left;
  padding: 1.5rem 0rem 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 1.4rem;
}

#sub_contents .bread_crumblist {
  font-size: 1.4rem;
  color: #888;
}

#sub_contents .bread_crumb li {
  display: inline;
}

#sub_contents .bread_crumb li.current {
  font-weight: normal;
}

#sub_contents .bread_crumb li a {
  text-decoration: underline;
}

#sub_contents .bread_crumb li a:hover {
  text-decoration: none;
}

#sub_contents .bread_crumb li:after {
  content: 'ー';
  padding-left: 1.0rem;
}

#sub_contents .bread_crumb li:after:last-child:after {
  content: '';
}

@media screen and (min-width: 768px) {
  #sub_contents .bread_crumb_list {
    margin-left: 1.5rem;
  }
}

.contents__lead img {
  margin-bottom: 1.0rem;
}

.contents__area .contents__ttl {
  font-size: 2.0rem;
  margin-bottom: 2.5rem;
  font-weight: normal;
  line-height: 2.0rem;
}

.contents__area span {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.contents__area p {
  font-size: 1.6rem;
  line-height: 2.7rem;
}

.main__section--list {
  margin-bottom: 3.0rem;
}

.main__section--list li {
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  background: #d3c5c2;
}

.main__section--list li:nth-child(odd) {
  background: #fff;
}

@media screen and (min-width: 768px) {
  .contents__lead img {
    width: 480px;
  }
  .main__section--list section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main__section--list .contents__area {
    margin-left: 6.7rem;
    width: 330px;
  }
  .section__topwork {
    flex-direction: row-reverse;
  }
}

.section__toporder {
  margin-bottom: 8.0rem;
}

.contents__ttl--02 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: 0.8rem solid #f3e3e0;
  padding-bottom: 1.0rem;
  margin-bottom: 1.0rem;
}

.contents__order--list li + li {
  margin-top: 2.0rem;
}

.contents__order--list p.txt--ymd {
  background: #d3c5c2;
  color: #2d2d2d;
  font-size: 1.2rem;
  padding: 0.5rem 1.0rem;
  width: fit-content;
}

.contents__order--list p.txt {
  padding: 2.0rem 0;
}

.contents__btn--area {
  margin: 10.0rem auto 10.0rem;
  text-align: center;
}

.contents__btn {
  margin: 0 auto;
  padding: 2rem 7rem;
  background: #d3c5c2;
  font-weight: bold;
}

.contents__btn:hover {
  background: #fff;
  border: 0.1rem solid #2d2d2d;
}

@media screen and (min-width: 768px) {
  .contents__order--list li {
    width: 45%;
  }
  .contents__order--list li + li {
    margin-top: 0;
  }
}

.voice--area {
  border: 0.5rem solid #d3c5c2;
  padding: 0 3.0rem 0.5rem;
  margin-bottom: 15.0rem;
}

.ttl--voice {
  text-align: center;
  width: 150px;
  margin-top: 3.0rem;
  padding: 1.0rem 3.0rem;
  border: 0.1rem solid #2d2d2d;
}

.txt--voice {
  padding: 2.0rem 0 6.0rem;
  text-align: left;
}

.sub__order--list {
  margin-top: 5.0rem;
}

.sub__order--list li {
  width: 70%;
  margin: 0 auto;
}

.sub__order--list li + li {
  margin-top: 0;
}

.slick-prev, .slick-next {
  position: absolute;
  z-index: 3;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 0.2rem solid #ccc;
  border-right: 0.2rem solid #ccc;
  height: 2.5rem;
  width: 2.5rem;
}

.slick-prev {
  left: 2.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: 2.5%;
  transform: rotate(45deg);
}

.list--gallery {
  margin-bottom: 1.0rem;
}

.list--choice {
  margin-bottom: 2.0rem;
}

.list--choice li {
  cursor: pointer;
  outline: none;
  background: #333;
  width: 25% !important;
}

.list--choice img {
  opacity: 0.4;
}

.list--choice.slick-current img {
  opacity: 1;
}

a:hover, a:active {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .list--gallery {
    margin-bottom: 3.0rem;
  }
  .list--choice {
    margin-bottom: 5.0rem;
  }
}

.contact__btn--mail {
  background: url(../img/contact.jpg) center center/cover;
  height: 150px;
  margin-top: 3.0rem;
  padding-top: 7.0rem;
  text-align: center;
}

.contact__btn--mail a {
  padding: 1.5rem 10.0rem;
  color: #d3c5c2;
  background: #2d2d2d;
}

.contact__btn--mail a:hover {
  color: #2d2d2d;
  background: #d3c5c2;
}

.contact__btn--mail {
  height: 250px;
  padding-top: 13rem;
}

.contact__btn--mail a {
  letter-spacing: 0.7rem;
  font-weight: bold;
  padding: 2.5rem 10.0rem;
}
